@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&family=Open+Sans:wght@600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    min-height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #00A0FF, #FAFAFA);
}