.login-container {
    display: flex;
    background-image: url("./img/wave-bg.svg");
    background-size: cover;
    border-radius: 15px;
    padding: 48px 50px 60px 100px;
    height: 500px;
    width: 750px;
}

.login-form {
    width: 66%;
    display: grid;
    place-content: center;
    grid-template-rows: 80px 80px 48px 80px 80px;
    margin-right: 200px;
}

button {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.signup-text {
    font-size: 16px;
}

.signup-text > a {
    line-height: 1rem;
    text-decoration: none;
    color: var(--color-blue);
}

@media (max-width: 1000px) {
    .login-container {
        padding: 32px 25px 30px 50px;
        height: 500px;
        width: 500px;
        background-image: none;
        background-color: white;
    }

    .login-form {
        width: 100%;
        margin-right: 32px;
    }
}

@media (max-width: 600px) {
    .login-container {
        height: fit-content;
        width: calc(100% - 64px);
        flex-direction: column-reverse;
        padding: 32px;
        border-radius: 0px;
    }

    .login-form {
        display: flex;
        align-self: center;
        flex-direction: column;
        width: 100%;
        max-width: 200px;
        margin: 0px;
    }

    .error-text {
        white-space: nowrap;
        margin-bottom: 16px;
    }

    .login-form > button {
        margin-bottom: 10px;
    }

    .signup-text {
        white-space: nowrap;
        margin-top: 8px;
    }
}